
.address-form {
    margin-top: 1%;
    text-align: center;
}


.address-form input {
    border: 0.5px solid black;
    width: 10%;
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
}


.university-address-form input {
    margin-left: 0.5%;
    border: 0.5px solid black;
    width: 500px;
    height: 25px;
    background-color: white;
}

.univeristy-address-form input:active {
    outline: none;
    
}

.university-address-form {
    margin-top: 1%;
    text-align: center;
}

.university-address-form button {
    height: 29px;
    border: 0.5px solid white;

}


.university-address-form button:active {
    opacity: 0.7;
}


.address-bar {
    display: flex;
    flex-direction: row;
    outline: 2px solid black;
    margin: auto;
}

.address-bar button {
    height: 20px;
    
}