* {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  background-color: #343434;
  background-color: #1C1C1C;
  background-color: #2A2B32;
  color: lightgrey;
  color: #D1D5DB;

}


ipnut {
  background-color: #D1D5DB;
}





.filter-bar {
  display: flex;
  flex-direction: row;
 
  margin: auto;
  width: 80%;
  margin-top: 1%;
}








.results-grid {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
}





.set-location-button {
  border: 0.5px solid white;
  border-radius: 10px;
  padding: 6px;
  margin-right: 1%;
  box-shadow: 0 0.4rem #dfd9d9;
  box-shadow: none;
}

.set-location-button:active {
 opacity: 0.7;
 box-shadow: none;
}





.result-box {
  border: 2px solid white;
  padding: 5%;
}



