* {
  font-family: 'Roboto', sans-serif;
  background-color: white
}

.header h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.header {
   display: flex;
   flex-direction: row;
   margin: auto;
   width: 70%;
   margin-bottom: -1%;
}


.header h1{
  width: 100%;
}

.search-bar {
  display: flex;
  flex: row;
  margin: auto;
  width: 50%;
  height: 30px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: 0.5px solid black;
  box-shadow: 3px 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  padding-left: 10px;
  background-color: white;
}

.search-bar input:focus{
  outline: none;
}

.filter-bar {
  display: flex;
  flex-direction: row;
 
  margin: auto;
  width: 80%;
  margin-top: 1%;
}

.filter-section {
  width: 100%;
  height: 100%;
}

.filter-section button {
  font-size: 15px;
  border: 0.5px solid black;
  margin: auto;
  border-radius: 5px;
  width: 80%;
  height: 30%;
  margin-top: 2%;
  padding: 2%;
  color: black;
  box-shadow: 2px 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: white;

}


.filter-section button:active {
  box-shadow: none;
  transform: translate(2px 2px);
  background-color: black;
  color: white;
}




.pop-up {
  border: 0.5px solid black;
  box-shadow: 2px 2px;
  border-radius: 5px;
  transform: translateY(70px);
  margin-top: -60px;
  padding: 5%;
  z-index: 2;
  margin-right: 20%;
}

.pop-up button{
  width: 100%;
  box-shadow: none;
  margin-bottom: 3%;
 
}





.results-grid {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
}



.restaurant-header {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin-bottom: -3%;
}



.result-container {
  border: 0.5px solid black;
  box-shadow: 2px 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
}


.star-rating {
  margin-top: 2%;
  margin-left: 2%;
  font-size: 15px;
  border: 0.5px solid black;
  border-radius: 20px;

  padding: 2%;
}


.menu-container {
  margin-left: 0%;
}




