* {
  font-family: 'Roboto', sans-serif;
  background-color: white
}






.filter-bar {
  display: flex;
  flex-direction: row;
 
  margin: auto;
  width: 80%;
  margin-top: 1%;
}








.results-grid {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
}





.set-location-button {
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 6px;
  margin-left: 1%;
  box-shadow: 0 0.4rem #dfd9d9;
}

.set-location-button:active {
 transform: translateY(00.4rem);
 box-shadow: none;
}









